<html>
<head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>菜式管理后台</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
<script type="text/javascript" src="/static/javascript/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/javascript/jquery.paginate.js"></script>
<script type="text/javascript" src="/static/js/base.js"></script>

{% block style %}{% end %}

</head>
<body>
<!-- wrapper start -->
<div id="wrapper"> 
  
  <!-- header start -->
  <div class="header">
    <!--导航链接-->
    <div class="nav">
        <!-- <div class="ugc" style="left: 0; padding:0 5px;"><a class="ugc-a" href="/inspect/cafe" hidefocus>审核</a></div> -->
    <div class="ugc" style="left: 0; padding:0 5px;">
      <a class="ugc-a" href="Javascript:void(0);" >管理</a>
      <ul class="on-ugc-icon">
        <li class="sub-ugc"><a href="/bonus" class="p-news clearfix">优惠管理</a></li>
        <li class="sub-ugc"><a href="/delete" class="p-news clearfix">菜式管理</a></li>

      </ul>
    </div>
		<div class="ugc" style="left: 100; padding:0 5px;">
			<a class="ugc-a" href="Javascript:void(0);" >新建</a>
			<ul class="on-ugc-icon">
			  	<li class="sub-ugc"><a href="/upload" class="p-news clearfix">添加菜式</a></li>
			</ul>
		</div>

    <!--搜索-->
    <!--<form accept-charset="UTF-8" action="/search" autocomplete="off" class="navbar-search pull-left" method="get">
            <input class="search-query" placeholder="Search" name="search" id="search-form" type="text">
    </form>-->
    <!--退出-->
    <div class="login_out">
      <p class="vwmy"><a class="uname" href="Javascript:void(0);">{{user['']}}</a></p>
      <ul>
        <li><a href="/logout">退出</a></li>
      </ul>
    </div>
  </div>
  </div>
  <!-- header end --> 
  
  <!-- container start -->
  <div class="container"> 
    <!-- main_box start -->
    <div class="main_box clearfix"> 
      
      <!--conbox start-->
      <div class="conbox"> 
        <!-- 添加主内容开始 --> 
        {% block content %}{% end %}
        <!-- 添加主内容结束 --> 
      </div>
      <!--conbox end--> 
      
    </div>
    <!-- main_box end --> 
    
  </div>
  <!-- container end --> 
  
</div>
<!-- wrapper end -->

</body>
</html>
