<html>
<head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>菜式管理平台</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
<script type="text/javascript" src="/static/javascript/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/javascript/jquery.paginate.js"></script>
<script type="text/javascript" src="/static/js/base.js"></script>

{% block style %}{% end %}

</head>
<body>
<!-- wrapper start -->
<div id="wrapper"> 
  
  <!-- header start -->
  <div class="header">
    <!--导航链接-->
    <div class="nav">
        <!-- <div class="ugc" style="left: 0; padding:0 5px;"><a class="ugc-a" href="/inspect/cafe" hidefocus>审核</a></div> -->
        <div class="ugc" style="left: 0; padding:0 5px;">
            <a class="ugc-a" href="Javascript:void(0);" >菜式管理</a>
            <ul class="on-ugc-icon">
                <!--<li class="sub-ugc"><a href="/manager/cafe" class="p-news clearfix">文章管理</a></li>-->
                <li class="sub-ugc"><a href="/menu" class="p-news clearfix">菜式管理</a></li>
                    <!--<li class="sub-ugc"><a href="/suggested/hot" class="p-news clearfix">文章</a></li>-->
				    <!--<li class="sub-ugc"><a href="/suggested/article" class="p-news clearfix">人工</a></li>-->
                <!--<li class="sub-ugc"><a href="/manager/top" class="p-news clearfix">置顶管理</a></li>-->
                <!--<li class="sub-ugc"><a href="/" class="p-news clearfix">公告管理</a></li>-->

                <li class="sub-ugc"><a href="/menu/upload" class="p-news clearfix">新建菜式</a></li>
                <li class="sub-ugc"><a href="/menu/unpass" class="p-news clearfix">审核未通过菜式</a></li>
            </ul>

        </div>

        <div class="ugc" style="left: 100; padding:0 5px;">
			<a class="ugc-a" href="Javascript:void(0);" >优惠管理</a>
			<ul class="on-ugc-icon">
			  	<li class="sub-ugc"><a href="/bonus" class="p-news clearfix">菜品优惠</a></li>

                <li class="sub-ugc"><a href="/bonus/type" class="p-news clearfix">菜系优惠</a></li>
                <li class="sub-ugc"><a href="/bonus/material" class="p-news clearfix">食材优惠</a></li>
			</ul>
		</div>

        <!--div class="ugc" style="left: 200; padding:0 5px;">
            <a class="ugc-a" href="Javascript:void(0);" >管理</a>
            <ul class="on-ugc-icon">
                <li class="sub-ugc"><a href="/manager/report/article" class="p-news clearfix">举报管理</a></li>
                <li class="sub-ugc"><a href="/manager/apply" class="p-news clearfix">申请管理</a></li>
                <li class="sub-ugc"><a href="/manager/banner" class="p-news clearfix">广告管理</a></li>
                <li class="sub_ugc"><a href="/manager/tag" class="p-news clearfix">头衔管理</a></li>

            </ul>
        </div>

        <div class="ugc" style="left: 300; padding:0 5px;">
			<a class="ugc-a" href="Javascript:void(0);" >用户</a>
			<ul class="on-ugc-icon">
			  	<li class="sub-ugc"><a href="/manager/user" class="p-news clearfix">用户管理</a></li>
			</ul>
		</div>

         <div class="ugc" style="left: 400; padding:0 5px;">
			<a class="ugc-a" href="Javascript:void(0);" >数据</a>
			<ul class="on-ugc-icon">
			  	<li class="sub-ugc"><a href="/logs/housekeeper/data" class="p-news clearfix">屋主数据</a></li>
                <li class="sub-ugc"><a href="/" class="p-news clearfix">里屋数据</a></li>
                <li class="sub-ugc"><a href="/" class="p-news clearfix">单元数据</a></li>
			</ul>
		</div>

		<div class="ugc" style="left: 500; padding:0 5px;">
            <a class="ugc-a" href="/log" >日志</a>
            <ul class="on-ugc-icon">
                <li class="sub-ugc"><a href="/log/admin" class="p-news clearfix">超管日志</a></li>
                <li class="sub-ugc"><a href="/log/housekeeper" class="p-news clearfix">屋主日志</a></li>
                <li class="sub-ugc"><a href="/log/report" class="p-news clearfix">举报日志</a></li>
                <li class="sub-ugc"><a href="/log/banner" class="p-news clearfix">广告日志</a></li>
            </ul>
        </div>

        <div class="ugc" style="left: 600; padding:0 5px;">
            <a class="ugc-a" href="/log" >other</a>
            <ul class="on-ugc-icon">

                <li class="sub-ugc"><a href="/logs/admin" class="p-news clearfix">超管日志</a></li>
                <li class="sub-ugc"><a href="/logs/housekeeper" class="p-news clearfix">屋主日志</a></li>
                <li class="sub-ugc"><a href="/logs/banner" class="p-news clearfix">Banner 日志</a></li>

                <li class="sub-ugc"><a href="/migrate/article" class="p-news clearfix">文章迁移</a></li>
	            <li class="sub-ugc"><a href="/new/article" class="p-news clearfix">发表文章</a></li>
                <!--<li class="sub-ugc"><a href="/suggested/cafe" class="p-news clearfix">推荐的板块</a></li>-->
                <!--<li class="sub-ugc"><a href="/manager/cafe" class="p-news clearfix">版块管理</a></li>-->
                <!--li class="sub-ugc"><a href="/new/comment" class="p-news clearfix">发表评论</a></li-->
            <!--/ul-->
        </div>


    <!--搜索-->
    <!--<form accept-charset="UTF-8" action="/search" autocomplete="off" class="navbar-search pull-left" method="get">
            <input class="search-query" placeholder="Search" name="search" id="search-form" type="text">
    </form>-->
    <!--退出-->
    <div class="login_out">
      <p class="vwmy"><a class="uname" href="Javascript:void(0);">{{user['username']}}</a></p>
      <ul>
        <li><a href="/logout">退出</a></li>
      </ul>
    </div>
  </div>
  </div>
  <!-- header end --> 
  
  <!-- container start -->
  <div class="container"> 
    <!-- main_box start -->
    <div class="main_box clearfix"> 
      
      <!--conbox start-->
      <div class="conbox"> 
        <!-- 添加主内容开始 --> 
        {% block content %}{% end %}
        <!-- 添加主内容结束 --> 
      </div>
      <!--conbox end--> 
      
    </div>
    <!-- main_box end --> 
    
  </div>
  <!-- container end --> 
  

<!-- wrapper end -->

</body>
</html>
