{% extends "base.html"%}
{% block content%}
<div class="msgWrap">
<table class="ListProduct" border="1" cellspacing="0" cellpadding="0" width="100%">

    <tr>
        <th width="90">菜名</th>
        <th width="60">菜品优惠</th>
        <th class="'operation width1">操作</th>
    </tr>
    {%if page is not None and page.data is not []%}
    {% for r in page.data%}
    <tr>
        <td width="90">{{r.name}}</td>
        <td width="60">{{r.bonus}}</td>
        <td class="operation width1"><p><a href="/update/bonus?menu_id={{r.id}}&bonus_id={{r.bonus_id}}&menu_name={{r.name}}&bonus={{r.bonus}}">更新优惠</a> </p></td>
    </tr>
    {%end%}
    {%end%}
</table>
    <input type="hidden" name="_total" id="_total" value="{%if page%}{{page.total}}{%else%}0{%end%}">
    <input type="hidden" name="_index" id="_index" value="{%if page%}{{page.index}}{%else%}1{%end%}">
    <div class="pagination"><div id="pagination"></div></div>
</div>
{%end%}