{% extends "base.html"%}
{% block content%}
<div class="msgWrap">
<table class="ListProduct" border="0" cellspacing="0" cellpadding="0" width="100%">

    <tr>
        <th width="30">菜名</th>
        <th>菜品优惠</th>
        <th class="'operation width1">操作</th>
    </tr>
    {%if res is not None%}
    {% for r in res%}
    <tr>
        <td width="90">{{r.name}}</td>
        <td width="60">{{r.bonus}}</td>
        <td class="operation width1"><p><a href="/update?menu_id={{r.id}}&bonus_id={{r.bonus_id}}&menu_name={{r.name}}&bonus={{r.bonus}}}}">更新优惠</a> </p></td>
    </tr>
</table>
</div>
