{% extends "base1.html"%}
{% block content%}

<div class="titlebox clearfix">
  <h4>审核用户上传的菜品</h4>
</div>
<div class="msgWrap">

         {% if res is not None %}
        {% for r in res %}

          <span>菜名:</span><span>{{r.name}}</span>
    <br><br>


         <span>简介:</span><span>{{r.introduction}}</span>
        <br><br>
            <span>菜式图片</span><span><img src="{{r.pic}}" width="100" height="100"></span>
        <br><br>
            <span>上传用户</span><span>{{r.user_id}}</span>
        <br><br>

             <a href="/menu/accept?menu_id={{r.id}}">接受</a>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <a href="/menu/decline?menu_id={{r.id}}">拒绝</a>




    {% end %}
    {% end %}


</div>
{%end%}

<!--DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>check_menu</title>
</head>
<body>
<table border="0">
    <tr>
        <th>
            菜名
        </th>
        <th>
            简介
        </th>
        <th>
            图片
        </th>
        <th>
            上传用户
        </th>
        <th>
            操作
        </th>

    </tr>
    {%if res is not None%}
        {%for r in res%}

         <tr>
        <td>
            {{r.name}}
        </td>
        <td>
            {{r.introduction}}
        </td>
        <td>
            <img src="{{r.pic}}" width="100" height="100">
        </td>
        <td>
            {{r.user_id}}
        </td>

         <td>
             <a href="/menu/accept?menu_id={{r.id}}">接受</a>
             <br>
             <a href="/menu/decline?menu_id={{r.id}}">拒绝</a>

         </td>
    </tr>


    {% end %}
    {%end%}
</table>
</body>
</html-->