{% extends "base1.html"%}
{% block content%}
<div class="titlebox clearfix">
  <h4>用户日志操作记录</h4>
    <div class="fright">
    <form method="post" action="/log">
        <span>用户_id</span><input type="text" name="user_id" value={{user["id"]}}>
        <span>操作类型</span>
        <select id="opt_type" name="opt_type">
            <option value="0">all</option>
            <option value="1">用户注册</option>
            <option value="2">上传菜单</option>

            <option value="3">更新菜单</option>

            <option value="4">更新优惠</option>

            <option value="5">更新游戏</option>

            <option value="6">删除菜单</option>

            <option value="11">用户审核通过</option>

            <option value="12">用户审核拒绝</option>

            <option value="13">菜单审核通过</option>

            <option value="14">菜单审核拒绝</option>
        </select>


        <input type="submit" value="搜索">
    </form>
        </div>
</div>

<div class="msgWrap" xmlns="http://www.w3.org/1999/html">
<table class="ListProduct" border="1" cellspacing="0" cellpadding="0" width="100%">

    <tr>
        <th>
            内容
        </th>
        <th>
            类型
        </th>
        <th>
            操作时间
        </th>
        <th>
            用户类型
        </th>

    </tr>
    {% if res is not None %}
        {% for r in res %}

    <tr>
        <td>
            {{r.content}}
        </td>
        <td>
            {{r.type}}
        </td>
        <td>
            {{r.created_at}}
        </td>
        <td>
            {%if r.admin==0%}
            普通用户
            {%else%}
            超级用户
            {%end%}
        </td>


    </tr>


    {% end %}
    {% end %}

</table>
</div>
{%end%}















