{% extends "base.html"%}
{% block content%}
<div class="msgWrap">
<table class="ListProduct" border="1" cellspacing="0" cellpadding="0" width="100%">

    <tr>
        <th>
              菜品名
        </th>
        <th>
            菜品简介
        </th>
        <th>
            菜品图片
        </th>
        <th>
            操作
        </th>
    </tr>
    {% if res is not None %}
        {% for r in res %}

    <tr>
        <td>
            {{r.name}}
        </td>
        <td>
            {{r.introduction}}
        </td>
        <td>
            <img src="{{r.pic}}" width="100" height="100">
        </td>


        <td>
            <a href="/delete/{{r.id}}">删除</a>
            <br>
            <br>
            <a href="/update/menu?id={{r.id}}">更新</a>
        </td>
    </tr>


    {% end %}
    {% end %}

</table>
</div>
{%end%}















