



<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script type="text/javascript" src="/static/javascript/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery.paginate.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    #<script src="/static/javascript/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function(){
        $("#license").change(function(){
        var filepath=$("#license").val();
        if (filepath =="")
        {
            alert("请选择文件");
            return false;
        }
        var extstart=filepath.lastIndexOf(".");
        var ext = filepath.substring(extstart, filepath.length).toUpperCase();
        if (ext != ".BMP" && ext !=".PNG" && ext!=".GIF" && ext!=".JPG" && ext !=".JPEG" || ext=="")
          {
             $("#license_info").text("图片限于bmp, png, gif, jpeg, jpg格式");
             $("#license").val("");
             return false;
          }
          var file_size = 0;
          if ($.browser.msie) {
                    var img = new Image();
                    img.src = filepath;
                    while (true) {
                        if (img.fileSize > 0) {
                            if (img.fileSize > 2 * 1024 * 1024) {
                                //alert("图片不大于2MB。");
                                $(this).val("")
                                $("#license_info").text("图片大小不得大于2MB");
                                //$("#myFile").val("");
                                return false;
                            } else {
                                //var num03 = img.fileSize / 1024;
                                //num04 = num03.toFixed(2)
                                //$("#fileSize").text(num04 + "KB");
                            }
                            break;
                        }
                    }
                } else {
                    file_size = this.files[0].size;
                    var size = file_size / 1024;
                    if (size > 2048) {
                        //alert("上传的图片大小不能超过2M！");
                        $("#license_info").text("上传的图片内容不能超过2MB")
                        $(this).val("")
                    } else {
                        var num01 = file_size / 1024;
                        num02 = num01.toFixed(2);
                        //$("#fileSize").text(num02 + " KB");
                    }
                }
                return true;
                })

        var email_state=false;
        $("#email").focus(function(){
        if (email_state==false){
        $(this).val("");
        }
        })



        $("#email").blur(function(){
            if($(this).val()==''){
                        $("#email_info").text("邮箱不能为空");
                        $(this).focus();
            }
            else{
              if (/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test($(this).val()) == false) {
                        $('#email_info').text('邮箱格式不正确，请重新输入');
                        $(this).focus();
               }

               else {
                        $('#email_info').text('');
                        $('#email_info').append('<img src=/static/images/onSuccess.gif/>');
                        email_state = true;
                    }


            }
         })

        var phone_state=false;
        $("#telephone").focus(function(){
        if (phone_state==false){
        $(this).val("");
        }
        })



        $("#telephone").blur(function(){
            if($(this).val()==''){
                        $("#phone_info").text("电话不能为空");
                        $(this).focus();
            }
            else{
              if (/^(1[3578][0-9]{9})$/.test($(this).val()) == false) {
                        $('#phone_info').text('电话格式不正确，请重新输入');
                        $(this).focus();
               }

               else {
                        $('#phone_info').text('');
                        $('#phone_info').append('<img src=/static/images/onSuccess.gif/>');
                        phone_state = true;
                    }


            }
         })





        $("#repassword").blur(function(){
            if($(this).val()==''){
                        $("#repassword_info").text("密码不能为空");
                        $(this).focus();
            }
            else if($("#password").val()==''){ $("#password_info").text("请输入密码");  }
            else{
            //alert($(this).val());
            //alert($("#password").val());
               if($(this).val() != $("#password").val()){
                   $("#repassword_info").text("两次密码输入不一样");
               }
            }
         })









        })

    </script>

    <title>register</title>
</head>
<body>
<div style="color:red">

    <p>请如实输入相关信息,注册信息提交后等待管理员审核,审核后会发送注册结果信息到邮箱,一般在两个工作日内完成
    </p>
    <p>
        营业执照请拍摄清晰营业执照,方便相关人员使用
    </p>
</div>
<form  method="post" action="/register" enctype="multipart/form-data"  onsubmit="return check()">
    <table   style="border-color" border="0">

        <tr align="center">
            <td width="60">用户名<span class="xred">*</span></td>
            <td width="90">
                <input type="text" name ="username" id="username">
            </td>
            <td width="500"><span class="xred">3-10个数字字母的组合</span></td>

        </tr>

        <tr align="center">
            <td width="60">密码<span class="xred">*</span></td>
            <td width="90">
                <input type="password" name ="password" id="password">

            </td>
            <td width="500">
                <span id="password_info" class="xred">需要6-10个数字字母的组合</span>
            </td>

        </tr>
        <tr align="center">
            <td width="60"><span class="xred">*</span>确认密码</td>
            <td width="90">
                <input type="password" name ="repassword" id="repassword">

            </td>
            <td width="500"><span id="repassword_info" class="xred">请重复密码</span></td>
        </tr>
        <tr align="center">
            <td width="60">公司名称<span class="xred">*</span></td>
            <td width="90">
                <input type="text" name ="companyname" id="companyname">
            </td>
           <td width="500"><span  class="xred">请填写公司名全称</span></td>
        </tr>

        <tr align="center">
            <td width="60">手机号码<span class="xred">*</span></td>
            <td>
                <input type="text" name ="telephone" id="telephone">

            </td>
            <td width="500"><span id="phone_info"  class="xred">请填写手机号码</span></td>
        </tr>


        <tr align="center">
            <td width="60">邮箱<span class="xred">*</span></td>
            <td>
                <input type="email" name ="email" id="email">

            </td>
            <td width="500"><label id="email_info"  class="xred">请填写公网邮箱</label></td>

        </tr>





        <tr align="center">
            <td width="60">营业执照<span class="xred">*</span></td>
            <td>
                <input type="file"  name ="license" id="license" accept="image/*"/>
            </td>
            <td width="500"><span id="license_info"  class="xred">请选择jpg,bmp,png等格式的图片 </span></td>

        </tr>
        <tr align="center">
            <td width="30">
                <input type="submit" value="提交" onclick="return check();">
            </td>
            <td>
                <input type="reset" value="重置">
            </td>

        </tr>

    </table>
</form>


<script language="JavaScript">
    function check()
    {

        var username=document.getElementById("username");
        var password=document.getElementById("password");
        var repassword=document.getElementById("repassword");
        var companyname=document.getElementById("companyname");
        var telephone=document.getElementById("telephone");
        var email=document.getElementById("email");
        var license= document.getElementById("license");

        if (username.value=="")
        {
            alert("请输入用户名");
            //username.focus();

            return false ;
        }
        //alert("hello");
        if (password.value=="")
        {
            alert("请输入密码");
            //password.focus();
            return false;
        }
        if (repassword.value=="" )
        {
            alert("请重复输入密码");
            //repassword.focus();
            return false;
        }
        if (repassword.value != password.value )
        {
            alert("两次密码不一致，请确认后重新输入");
            //repassword.focus();
            return false;
        }
        if (telephone.value=="")
        {
            alert("请输入电话号码");

            //telephone.focus();
            return false;
        }
        if (email.value=="")
        {
            alert("请输入邮箱");
            //email.focus();
            return false;
        }
        if (license.value=="")
        {
            alert("请选择营业执照照片");
            //license.focus();
            return false;
        }
        //alert("ok");
        return true;


    }
</script>




<!--<form method="post" action="/register">
    username  &nbsp;<input type="text" name="username" >
    <br><br>
    password  &nbsp;<input type="password" name="password">
    <br><br>
    repassword &nbsp;<input type="password" name="repassword">
    <br><br>
    <input type="submit" value="submit">
    <input type="reset" value="reset">

</form>
-->
</body>
</html>