{% extends "base1.html"%}
{% block content%}
<div class="titlebox clearfix">
  <h4>已被审核用户</h4>
    <br>
    <div class="fright">
    <form method="post" action="/show/user">
        <span>用户名</span>
        <span><input type="text" name="username"></span>
        <span><input type="submit" value="search"></span>
    </form>
        </div>
</div>

<div class="msgWrap">
<table class="ListProduct" border="1" cellspacing="0" cellpadding="0" width="100%">

    <tr>
        <th >用户名</th>
        <th >公司名</th>
        <th >邮箱</th>
        <th >电话</th>
        <th >营业执照</th>
        <th >状态</th>
        <td> 创建时间</td>
    </tr>
    {%if res is not None%}
        {%for r in res%}

         <tr>
        <td>
            {{r.username}}
        </td>
        <td>
            {{r.companyname}}
        </td>
        <td>

            {{r.email}}
        </td>
        <td>
            {{r.telephone}}
        </td>
             <td>
                 <img src="{{r.license}}" width="100" height="100">
             </td>
         <td>
             {%for s in r.status %}
             {%if s==0%}
             有效
             {%else%}
             无效
             {%end%}
             {%end%}

         </td>
         <td>
             {%for c in r.created_at%}
             {{c}}
             {%end%}
         </td>
    </tr>

    {% end %}
    {% end %}
</table>
</div>
{%end%}

