<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>
<form method="post" action="/upload" enctype="multipart/form-data">
    <table border="0">
    <tr align="center">
        <td>
            菜式名称
        </td>
        <td>
            <input type="text" name="name" >
        </td>

    </tr>

        <tr align="center">
        <td>
            菜式简介
        </td>
        <td>
            <input type="text" name="introduction" >
        </td>

    </tr>

        <tr align="center">
        <td>
            菜式图片
        </td>
        <td>
            <input type="file" name="menu"  accept="image/*">
        </td>

    </tr>
    {% if games is  not [] %}
    <tr align="center">
        <td>
            选择游戏
        </td>
        <td>
            {%for game in games%}
                <input type="checkbox" name="game" value="{{game.id}}"><label>{{game.game_name}}</label>
            {%end%}
        </td>

    </tr>
        {% end %}


    <tr align="center">
        <td>
            <input type="submit" value="提交">
        </td>
        <td>
            <input type="reset" value="重置">
        </td>

    </tr>
        </table>
</form>


</body>
</html>
